.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  padding: 20px;
  margin-bottom: 30px;
}

.card-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  margin-bottom: 20px;
}

.card-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  margin-bottom: 20px;
}

/* Write your code here. */
.head1 {
  font-family: roboto;
  color: #326a9d;
}
.description {
  font-family: roboto;
  color: #64748b;
}
.btn1{
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  border-color: #326a9d;
  font-family: Roboto;
  color: #326a9d;
  font-weight: bold;
}